/*-- scss:defaults --*/


// Import fonts
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Nunito+Sans:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400&family=Roboto&display=swap');


// Colors
$dark-blue: #0e326b;
$light-blue: #f0f6ff;
$purple: #9954BB;
$dark-purple: #752f98;
$light-black: #222222;
$light-green: #79B791;
$light-green2: #abd9bd;
$pine-green: #157A6E;
$xanadu: #748B75;


// Background colors
$navbar-bg: $dark-blue;
$body-bg: $light-blue;
$input-bg: $dark-blue;
// Font colors
$navbar-fg: white;
$body-color: $light-black;
// Inline code
$code-bg: $light-blue;
$code-color: $dark-purple;
// Fonts
$font-family-monospace: 'Inconsolata';


/*-- scss:rules --*/
// Listing Cards
.no-anchor.card-title.listing-title {
    color: $dark-blue;
    font-weight: bold;
}
.card-text.listing-description {
    color: $light-black;
}
.listing-date {
    color: $light-black;
}
.quarto-grid-item .listing-categories .listing-category {
    color: $light-black;
    border-color: $light-black;
}
.card {
    background-color: $light-green2;
}

// Top Navbar
.navbar-title {
    font-family: 'Inconsolata', monospace;
    font-size: 19pt;
}

// Categories inside of posts
.quarto-title .quarto-categories .quarto-category {
    background-color: $light-green2;
    border-color: $light-green2;
    color: $dark-blue;
    opacity: 0;
}

// Buttons
.btn.btn-primary {
    background-color: $light-green2;
    border-color: $dark-blue;
    color: $dark-blue;
    border-radius: 0.25rem;
}

// Forms
.form-control {
    background-color: white;
}

.form-select {
    color: $light-black;
    background-color: white;
}


// Inline code
code {
    font-size: 13pt;
}
// Inline code inside Headers and Navigation bars
h1 code {
    font-size: calc(1.3rem + 1.14vw);
}
h2 code {
    font-size: calc(1.3rem + 0.6vw);
}
h3 code {
    font-size: calc(0.9rem + 0.6vw);
}


.nav-link code {
    font-size: .875rem;
}

.description code {
    font-size: 12pt;
}

.card-text.listing-description code {
    font-size: .9em;
}


// Titles and headers
.quarto-title-banner .quarto-title .title {
    font-family: 'Nunito Sans', sans-serif;
    color: $light-green2;
}

h1.title{
    font-family: 'Nunito Sans', sans-serif;
    color: $light-black;
}

h1, h2, h3, h4, h5 {
    font-family: 'Nunito Sans', sans-serif;
    color: $light-black;
}

p, li {
    font-family: 'Hanken Grotesk', sans-serif;
}